@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
      url(../public/fonts/SpaceGrotesk-Regular.woff2) format('woff2'),
      url(../public/fonts/SpaceGrotesk-Regular.woff) format('woff');
  }

  html {
    @apply text-base;
  }

  body {
    @apply bg-grey-450;
    @apply antialiased leading-none uppercase font-body;
    text-rendering: optimizeLegibility;
  }
}
